<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default}">

	 	<section layout:fragment="contents" class="contents d-flex justify-content-center">
	 		<div class ="user-box memo-bg my-5 p-5 rounded-lg">
	 			<h1 class="text-center">회원가입</h1>
	 			<input id = "idInput"type="text"class="form-control mt-4" placeholder="아이디">
	 			<input id = "passwordInput"type="password" class="form-control mt-2" placeholder="비밀번호">
	 			<input id = "passwordConfirmInput"type="password" class="form-control mt-2" placeholder="비밀번호 확인">
	 			<input id = "nameInput" type="text"class="form-control mt-2" placeholder="이름">
	 			<input id = "emailInput"type="text"class="form-control mt-2" placeholder="이메일">
	 			<button id = "joinBtn"type="button" class="btn btn-secondary btn-block mt-3">가입</button>
	 		</div>
	 	</section>

		<script layout:fragment="script">
			$("#joinBtn").on("click",function(){
				let id = $("#idInput").val();
				let password = $("#passwordInput").val();
				let passwordConfirm = $("#passwordConfirmInput").val();
				let name = $("#nameInput").val();
				let email = $("#emailInput").val();
				
				
				if(id == ""){
					alert("아이디를 입력하세요");
					return ;
				}
				if(password == ""){
					alert("비밀번호를 입력하세요");
					return ;
				}
				if(password != passwordConfirm){
					alert("비밀번호가 일치하지 않습니다.");
					return ;
				}
				if(name == ""){
					alert("이름을 입력하세요");
					return ;
				}
				if(email == ""){
					alert("이메일을 입력하세요");
					return ;
				}
				
				
				$.ajax({
					type:"post"
					, url:"/user/join"
					, data:{"loginId" :id, "password":password, "name":name, "email":email}
					,success:function(response){
						if(response.result == "success"){
							location.href="/user/login-view"
						}else{
							alert("회원가입 실패!")
						}
					}
					,error:function(){
						alert("회원가입 에러!")
					}
				});
			});
		</script>
	
</html>